.main_layout {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  background-image: url(../images/grid_group.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  color: white;
  font-family: Hack;
  font-size: 0.9rem;
  background-size: 100%;
  a {
    text-decoration: none;
    color: white !important;
  }
}

.no_margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.no_padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.right_col {
  //   width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  //   justify-content: flex-end;
}

.main_title {
  width: fit-content;
  align-items: flex-end;
}

.menu {
  //width: fit-content;
  //   justify-content: flex-end;
}

.height_100_vh {
  height: 100vh;
}

.height_100_percent {
  height: 100%;
}
